<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>

    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    html, body {
      margin: 0;
      padding: 0;
      min-height: 100%;
      background: linear-gradient(to left,#e9f2ff 50%, white 50%);
      font-family: Arial, sans-serif;
    }

    .content {
      width: 100%;
      max-width: 1200px; /* Optional: limit width for readability */
      margin: 0 auto;
      padding: 50px;
      box-sizing: border-box;
    }

    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
 <div class="half left"></div>
  <div class="half right"></div>
<img src="/static/Logo.png" width="300px" height="93px"</img>


<div class="right-menu">
    <nav>
        <a href="/">Home</a>
        <a href="/view">View</a>
        <a href="/edit">Edit</a>
        <a href="/register">Register</a>
    </nav>
</div>

<div class="page-content">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>
</html>