<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

{% extends 'menu.html' %}


{% block content %}
<form method="POST" action="{{ url_for('submit_form') }}">
    <p><input type="text" name="name" placeholder="First name" required>
  <input type="text" name="lname" placeholder="Last name" required></p>

    <p><input type="number" name="age" placeholder="Age" required>
        <select id="gender" name="gender">
    <option value="gender">Gender</option>
    <option value="female">female</option>
    <option value="male">male</option>
    <option value="prefer not to say">prefer not to say</option>
  </select></p>

    <p><input type="date" name="dob" placeholder="Date of birth" required>
    <input type="text" name="country" placeholder="Country of origin" required></p>

    <p><input type="text" name="email" placeholder="Email">
    <input type="number" name="number" placeholder="Phone number"</p>
    <p><input type="number" name="family" placeholder="Num of family members">
    <input type="text" name="medical" placeholder="Medical conditions"></p>
      <p><button type="submit">Submit </button></p>
</form>
{% endblock %}
</body>
</html>