
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

{% extends 'menu.html' %}

{% block content %}
<p><h2>Register</h2></p>
<form method="POST" action="{{ url_for('submit_form') }}">
    <p><input type="text" name="name" placeholder="First name" style="width: 200px; height: 30px; font-size:15px;" required>
  <input type="text" name="lname" placeholder="Last name" style="width: 200px; height: 30px; font-size:15px;" required></p>

    <p><input type="number" name="age" placeholder="Age" style="width: 200px; height: 30px; font-size:15px;" required>
        <select id="gender" name="gender" style="width: 200px; height: 30px; font-size:15px;">
    <option value="gender">Gender</option>
    <option value="female">female</option>
    <option value="male">male</option>
    <option value="prefer not to say">prefer not to say</option>
        </select></p>
    <p>Date of birth</p>
    <p><input type="date" name="dob" placeholder="Date of birth" style="width: 200px; height: 30px; font-size:15px;" required>
    <input type="text" name="country" placeholder="Country of origin" style="width: 200px; height: 30px; font-size:15px;" required></p>

    <p><input type="text" name="email" placeholder="Email" style="width: 200px; height: 30px; font-size:15px;">
    <input type="number" name="number" placeholder="Phone number" style="width: 200px; height: 30px; font-size:15px;"</p>

    <p><input type="number" name="family" placeholder="Num of family members" style="width: 200px; height: 30px; font-size:15px;">
    <input type="text" name="medical" placeholder="Medical conditions" style="width: 200px; height: 30px; font-size:15px;"></p>

    <p><input type="text" name="anything" placeholder="Anything else we should know?" style="width: 410px; height: 60px; font-size:15px;" </p>
    <p><button type="submit" style="background-color:#5c82c8; color:#ffffff; height:40px; width:100px; font-size: 20px;">Submit  </button></p>
</form>
{% endblock %}
</body>
</html>