<!-- This is my view page, this is where users can chest past registrations -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<!-- here, my code is "extending menu" what that basically means is that the code in the menu page will be on this page as well
 and so the menu bar with links to other pages, the logo, and the split screen will be on this page-->
{% extends 'menu.html' %}
{% block content %}
{% if registrations %}
  <h2>Registered Refugees</h2>
<!-- This is how the table is coded in, everything between the <th></th> are title names for each section  -->
<table border="1">
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Age</th>
    <th>Country</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Num of family members</th>
    <th>Medical conditions</th>
    <th>Anything else we should know</th>
<!-- and then here is where the actual data goes, it loads it and puts it in the table -->
  </tr>
  {% for person in registrations %}
  <tr>
    <td>{{ person.name }}</td>
    <td>{{ person.lname }}</td>
    <td>{{ person.age }}</td>
    <td>{{ person.gender }}</td>
    <td>{{person.dob}}</td>
    <td>{{person.country}}</td>
    <td>{{person.email}}</td>
    <td>{{person.number}}</td>
    <td>{{person.family}}</td>
    <td>{{person.medical}}</td>
    <td>{{person.anything}}</td>
  </tr>
  {% endfor %}
</table>
<!-- here is my else page, basically, if there are no registrations, it wont load any table -->
{% else %}
  <p>No registrations found yet.</p>
{% endif %}
{% endblock %}

</body>
</html>