<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
{% extends 'menu.html' %}
{% block content %}
{% if registrations %}
  <h2>Registered Refugees</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Age</th>
    <th>Country</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Num of family members</th>
    <th>Medical conditions</th>
    <th>Anything else we should know</th>

  </tr>
  {% for person in registrations %}
  <tr>
    <td>{{ person.name }}</td>
    <td>{{ person.lname }}</td>
    <td>{{ person.age }}</td>
    <td>{{ person.gender }}</td>
    <td>{{person.dob}}</td>
    <td>{{person.country}}</td>
    <td>{{person.email}}</td>
    <td>{{person.number}}</td>
    <td>{{person.family}}</td>
    <td>{{person.medical}}</td>
    <td>{{person.anything}}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
  <p>No registrations found yet.</p>
{% endif %}
{% endblock %}

</body>
</html>